.mapaid {
    width: 100%;
    height: 100%;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}
.leaflet-popup-content-wrapper {
    height: fit-content;
    width: fit-content;
    padding: 0;
    background-color: rgba(173, 173, 173, 0.0);
    border-radius: 4px;
    box-shadow: none;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    font-size: x-large;
}

.leaflet-popup-tip-container {
    display: none;
}

.leaflet-popup-close-button {
    display: none; 
 }
 .info {
    
    font-size: x-large;
    color: #f45115;
 }

 .geoLayer {
    transition: opacity 0.5s ease-in-out;
 }