.break {
    flex-basis: 100%;
    height: 0;
}
.quadro {
    margin: 0;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    width: fit-content;
    height: fit-content;
    
    background-image: linear-gradient(to bottom,#f4f5f8,#eff2f2);
    box-shadow: -2px 3px 10px -5px rgba(0,0,0,0.75);

    padding-top: 1%;
    padding-bottom: 1%;

    border-radius: 2px;

    flex: 1;
    flex-basis: 0;
    line-height: fit-content; 

    margin-right: 1vw;
    margin-bottom: 1.2vh;
    text-align: center;
} 
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.icon {
    height: 10%;
    width: 10%;
}
.num {
    margin: 0;
    font-size: 3.8vh;
    color: #f4511c;
}
.num-total {
    margin: 0;
    font-size: 5vh;
    color: #a13612;

}
.legenda {
    margin: 0;
    font-size: 2.5vh;
}
.obs {
    font-size: 1.5vh;
}
#casos {
    width: 50%;
    height: 50%;
}