@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  color: #505050;
}
.App {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  padding: 1.5vh;

  display: grid;
  grid-template-columns: 50% 50%;
  background-color:#f5f5f5;
}
@media screen and (max-width: 600px) {
        .App {
                box-sizing: border-box;
                height: 100%;
                width: 100%;

                padding: 1.5vh;

                display: flex;
                background-color:#f5f5f5;
        }
}
.left-app{
        overflow-y:auto;   
        overflow-x: hidden;    
}
.left-app::-webkit-scrollbar-track{
        background-color: #F5F5F5;
}
.left-app::-webkit-scrollbar{
        width: 0.31vw;
        background-color: #F5F5F5;
}
.left-app::-webkit-scrollbar-thumb{
        background-color:  #31303a;
}
#sobre {
  border-radius: 50%;
  width: 2.7vw;
  height: 2.7vw;
  background-color:  #f4511c;     
  position:absolute;
  z-index:1000;
  left: 1.7%;
  top: 1.4%;
  box-shadow: -2px 3px 10px -5px rgba(0,0,0,0.75);
}
.i {
        margin: 0;
        padding: 10%;
        font-size: 2vw;
        text-align: center;
        color: #f4f5f5; 
        text-decoration: none;
}

a {
        text-decoration: none;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
  }
  15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
  }
  30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
  }
  45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
  }
  75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
  }
  15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
  }
  30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
  }
  45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
  }
  75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
  }
}
.wobble-hor-bottom:hover {
  webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
  animation-delay: 0.3s;
}
