@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    border: 0;
}
html {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
}
.header {
    margin: 0;
    border: 0;
    width: 100vw;
    min-height: 8vh;
    height: fit-content;
    background: linear-gradient(180deg, rgba(244,81,28,1) 0%, rgba(214,71,21,1) 88%);
    text-align: center;
    padding-top: 2%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    
}
.title {
    color:#f5f5f5;
    padding-bottom: 2%;
    font-size: 1.7rem;
    text-shadow: 2px 2px 3px rgba(39, 39, 39, 0.2);
}

.content {
    padding-left: 10%;
    padding-right: 10%;
}
.sub {
    margin-top: 4%;
    font-size: 150%;
}
.p {
    font-size: 100%;
}